.page {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
}

.header {
  min-height: 668px;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

@media (width < 768px) {
  .header {
    padding: var(--padding-mob);
  }
}

.header::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  border-top: var(--corner-color) solid 1px;
  border-right: var(--corner-color) solid 1px;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-color) solid 1px;
  border-left: var(--corner-color) solid 1px;
}

@media (width < 768px) {
  .header::before {
    right: 10px;
    top: 10px;
  }

  .header::after {
    left: 10px;
    bottom: 10px;
  }
}

@media (width >= 768px) {
  .header::before {
    right: 20px;
    top: 20px;
  }

  .header::after {
    left: 20px;
    bottom: 20px;
  }
}

.header__theme-menu {
  display: grid;
  align-items: center;
  justify-self: end;
}

.header__theme-menu-list {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.header__theme-menu-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 125%;
  color: var(--button-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: transparent;
}

.header__decoration-dark {
  position: absolute;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 120%;
  color: var(--accent-color);
}

@media (width < 768px) {
  .header__decoration-dark {
    top: calc(var(--padding-mob) + 2.5px);
    right: calc(var(--padding-mob) + 29px);
  }
}

@media (width >= 768px) {
  .header__decoration-dark {
    top: calc(var(--padding-desk) + 2.5px);
    right: calc(var(--padding-desk) + 29px);
  }
}

.header__decoration-dark::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  margin-left: 3px;
  background-image: url("../images/Ellipse.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__title {
  color: var(--main-title);
  text-shadow: 4px 4px var(--accent-color);
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82%;
  letter-spacing: 0em;
}

@media (width > 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.title-decor {
  background-color: var(--accent-color);
}

.header_text-block {
  display: flex;
  align-items: center;
}

.header__description {
  color: var(--article-contant-title);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0rem;
}

@media (width >= 638px) {
  .header_text-block {
    width: 49%;
    align-items: center;
    justify-self: end;
  }
}

@media (768px <= width < 1024px) {
  .header {
    min-height: 1024px;
    max-height: 100vh;
    padding: var(--padding-desk) var(--padding-desk) var(--padding-desk) 0;
  }

  .header__title {
    letter-spacing: 0em;
  }

  .header__description {
    letter-spacing: 0.01rem;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
    max-height: 100vh;
    padding-top: var(--padding-desk);
    padding-right: var(--padding-desk);
    padding-bottom: var(--padding-desk);
    padding-left: 0;
  }

  .header__theme-menu {
    display: grid;
    align-items: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    margin-left: 20px;
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .header__theme-menu-item {
    width: 100%;
  }

  .header__title {
    letter-spacing: 0em;
  }

  .header__description {
    letter-spacing: 0rem;
  }
}

.main {
  width: 100%;
}

@media (width < 768px) {
  .main {
    padding-right: var(--padding-mob);
    padding-left: var(--padding-mob);
  }
}

@media (width >= 768px) {
  .main {
    padding-right: var(--padding-desk);
    padding-left: var(--padding-desk);
  }
}

.article__title {
  margin-bottom: 20px;
  color: var(--article-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0rem;
}

.article__item-name {
  color: var(--article-contant-title);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0rem;
  margin-bottom: 10px;
}

.article__item-min-name {
  color: var(--article-contant-title);
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0rem;
  margin-bottom: 10px;
}

.article__second-title {
  color: var(--article-contant-title);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0rem;
}

.article__content-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__content-textblock {
  color: var(--article-textblock);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.057rem;
}

.article__margin-block {
  margin-top: var(--mob-article__margin-block);
}

@media (min-width: 768px) {
  .article__margin-block {
    margin-top: var(--desk-article__margin-block);
  }

  .article__title {
    letter-spacing: 0rem;
  }

  .article__item-name {
    letter-spacing: 0rem;
  }

  .article__content-textblock {
    letter-spacing: 0.059rem;
  }

  .article__second-title {
    letter-spacing: 0rem;
  }
}

.main__content:not(:first-of-type) {
  margin-top: var(--margin-mob-articles);
}

@media (min-width: 768px) {
  .main__content:not(:first-of-type) {
    margin-top: var(--margin-desk-articles);
  }
}

.article__content-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__content-link {
  color: var(--article-textblock);
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.article__double-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .article__column-name {
    display: grid;
    grid-template-columns: 1fr calc(65%);
    gap: 20px;
  }

  .article__column-name .article__title {
    grid-column-start: 1;
    grid-column-end: auto;
  }

  .article__column-name .article__content-block {
    grid-column-start: 2;
    grid-column-end: auto;
  }

  .article__row-to-column {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
  }

  .article__row-to-column .article__title {
    grid-row: 1/1;
    grid-column: 1/1;
    width: 30%;
  }

  .article__row-to-column .article__content-block {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .article__row-to-column .article__content-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .article__column-name {
    display: grid;
    grid-template-columns: 1fr calc(66%);
    gap: 20px;
  }

  .article__title {
    letter-spacing: 0rem;
  }

  .article__item-name {
    letter-spacing: 0rem;
  }

  .article__second-title {
    letter-spacing: 0rem;
  }
}

.gallery {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__title {
  width: 100%;
  color: var(--article-contant-title);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0rem;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .gallery {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .gallery__title {
    letter-spacing: 0rem;
  }

  .gallery__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 24% 30% 41%;
    gap: 20px;
    width: 100%;
  }

  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .image2 {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .image3 {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .image4 {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .image5 {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 1024px) {
  .gallery__content {
    grid-template-rows: 25% 30% 41%;
  }

  .gallery__title {
    letter-spacing: 0rem;
  }
}

.footer {
  position: relative;
  margin-top: var(--mob-article__margin-block);
  padding: var(--padding-desk);
  min-height: 668px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .footer {
    min-height: 1024px;
    max-height: 100vh;
    margin-top: var(--desk-article__margin-block);
  }
}

@media (min-width: 1024px) {
  .footer {
    min-height: 768px;
    max-height: 100vh;
    margin-top: var(--desk-article__margin-block);
  }
}

.footer::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: var(--corner-color) solid 1px;
  border-right: var(--corner-color) solid 1px;
}

.footer::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-color) solid 1px;
  border-left: var(--corner-color) solid 1px;
}

@media (width < 768px) {
  .footer::before {
    right: 10px;
    top: 10px;
  }

  .footer::after {
    left: 10px;
    bottom: 10px;
  }
}

@media (width >= 768px) {
  .footer::before {
    right: 20px;
    top: 20px;
  }

  .footer::after {
    left: 20px;
    bottom: 20px;
  }
}

.footer__title {
  color: var(--main-title);
  text-shadow: 2px 2px var(--accent-color);
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0em;
}

@media (min-width: 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    letter-spacing: 0em;
  }
}

@media (min-width: 1024px) {
  .footer__title {
    letter-spacing: 0em;
  }
}

.header__theme-menu-button_active {
  pointer-events: none;
  width: 100%;
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  width: 100%;
  border: 1px solid var(--button-color);
  opacity: 0.5;
}

.article__content-link:hover {
  width: 100%;
  border-bottom: 1px solid var(--article-textblock);
}

.header__theme-menu-button:focus {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--button-color);
}

.article__content-link:focus {
  width: 100%;
  border: 0;
  outline: 1px solid var(--article-textblock);
}
