/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --corner-color: #ff0070;
  --button-color: #ff0070;
  --padding-mob: 10px;
  --padding-desk: 20px;
  --article-textblock: #f1b2ce;
  --article-contant-title: #000028;
  --main-title: #db00ff;
  --margin-mob-first-article: 40px;
  --margin-desk-first-article: 60px;
  --margin-mob-articles: 50px;
  --margin-desk-articles: 80px;
}
